<nav class="navbar">
  <a class="logo" routerLink="/home">🎬 Cine</a>
  <a routerLink="/home" routerLinkActive="active">Cartelera</a>

  @if (auth.usuario()) {
    @if (auth.perfil()?.rol === 'admin') {
      <a routerLink="/admin" routerLinkActive="active">Admin</a>
    }
    @if (auth.perfil()?.rol === 'empleado') {
      <a routerLink="/empleado" routerLinkActive="active">Validar entradas</a>
    }
    <a class="usuario" routerLink="/perfil" routerLinkActive="active">Hola, {{ auth.perfil()?.nombre }}</a>
    @if (auth.perfil()?.rol === 'admin' || auth.perfil()?.rol === 'empleado') {
      <span class="rol">{{ auth.perfil()?.rol }}</span>
    }
    <button class="salir" (click)="salir()">Salir</button>
  } @else {
    <a routerLink="/login" routerLinkActive="active">Ingresar</a>
    <a routerLink="/registro" routerLinkActive="active">Registrarse</a>
  }
</nav>

<main>
  <router-outlet />
</main>
